@import "bootstrap.css";


.theme-dark{
  transition: 1s;
  background: #1a1e21 !important;
  color: white !important;
}

.theme-light{
  transition: 1s;
  background: white !important;
  color: #1a1e21 !important;
}
